*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*
.slider-container{
    position: relative;
    height: 972px;
    width: 1920px;
}
.background-img{
    height: 972px;
    width: 1920px;
}
.top-left{
    position: absolute;
    top: 48px;
    left: 52px;
}
.Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 113px;
    height: 56px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
}
.point{
    font-size: 33px;
    color: #0081FF;
    letter-spacing: 0.99px;
}
.secondary-logo{
    font-size: 13px;
    color: #B3B3B3;
}
.top-right1{
    width: 170px;
    height: 221px;
    position: absolute;
    top: 25px;
    right: 118.89px;
}
.number{
    font-size: 158.3px;
    letter-spacing: 4.75px;
    color: #1C1C1C;
}
.top-right2{
    width: 227px;
    height: 60px;
    position: absolute;
    top: 106.36px;
    right: 81.68px;
}
.AM{
    font-size: 43.17px;
    letter-spacing: 1.3px;
    color: #373737;
}
.content{
   position: absolute;
   width: 443px;
   height: 292px;
   right: 308px;
   top: 384px;
}
.Hi{
    font-size: 49.7px;
    color: #212121;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
}
.Me{
    font-size: 71px;
    color: #212121;
    letter-spacing: 1.06px;
    margin-bottom: 10px;
}
.Who-I-am{
    font-size: 23.29px;
    color: #212121;
    margin-bottom: 40px;
}
.facebook,.instagram,.youtube,.rss {
    width: 30px;
    height: 30px;
}
.satisfaction {
    width: 361px;
    height: 55px;
    position: absolute;
    right: 97px;
    bottom: 73px;
}
.text {
    font-size: 16px;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.persentage {
    color: #E93656;
    margin-right: 5px;
}
.line {
    width: 340px;
    height: 6px;
    background-color: #E93656;
    margin-top: 20px;
    background: #E93656;
}

.information-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about{
    display: flex;
}
.card {
    text-align: right;
    width: 334px;
    height: 369px;
}
.name {
    margin-top: 83px;
    font-size: 40pxpx;
    color: #222222;
}
.subtitle {
    color: #DAAE19;
    font-size: 14px;
    margin-top: 6px;
}
.description {
    font-size: 15px;
    color: #555555;
    margin-top: 33px;
}
.btn {
    display: inline-block;
    background-color: #E93656;
    color: #FFFFFF;
    margin-top: 60px;
    padding-top: 13px;
    padding-right: 46px;
    padding-bottom: 17px;
    padding-left: 54px;
    text-decoration: none;
    font-size: 15px;
}
.btn:hover {
    background-color: #555555;
}

.photo{
    width: 430px;
    height: 603px;
    margin-left: 65.55px;
    margin-right: 70px;
}

.bar-social{
    display: flex;
    flex-direction: column;
}
.abilities {
    margin-top: 59px;
}
.skill {
    margin-bottom: 23px;
}
.skill-title {
    font-size: 20px;
    color: #555555;
    margin-bottom: 15px;
}
.progress-bar {
    width: 256px;
    background: #F0F0F0;
    height: 10px;
    position: relative;
    overflow: hidden;
}
.progress {
    height: 100%;
    width: 0;
    background: #E93656;
    transition: width 1.5s ease-in-out;
}
.percentage-color{
    color: #E93656;
    margin-left: 15px;
}

.social-links {
    margin-top: 78px;
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row;
}
.social-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    transition: background-color 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.icon {
    width: 20px;
    height: 20px;
}
.social-button:hover {
    background-color: #15263E;
}

.contact-background{
    background-color: #131A36;
    height: 210px;

}
.contact-container{
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}
.phone{
    display: flex;
    flex-direction: row;
    gap: 29px;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 60px;
}
.phone-link {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.phone-link:hover {
    border: none;
    background-color: #E93656;
}
.phone-icon{
    width: 30px;
    height: 30px;
}
.p-n{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 15px;
}
.phone-number1 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
    margin-bottom: 5px;
}
.phone-number2 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
}

.address{
    display: flex;
    flex-direction: row;
    gap: 29px;
    align-items: center;
}
.address-link {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.address-link:hover {
    border: none;
    background-color: #E93656;
}
.address-icon{
    width: 30px;
    height: 30px;
}
.p-a{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 15px;
}
.address1 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
    margin-bottom: 5px;
}
.address2 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
}

.email{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.email-link {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.email-link:hover {
    border: none;
    background-color: #E93656;
}
.email-icon{
    width: 30px;
    height: 30px;
}
.p-e{
    color: #FFFFFF;
    font-size: 25px;
    margin-bottom: 15px;
}
.email1 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
    margin-bottom: 5px;
}
.email2 {
    display: block;
    text-decoration: none;
    color: #DFDFDF;
    font-size: 14px;
}*/
.services-container{
    max-width: 1190px;
    width: 100%;
    padding-left: 20px;
    margin: 0 auto;
}
.services{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.div-services {
    width: 285px;
    height: 360px;
    background-color: #FAFAFA;
    text-align: center;
    transition: background 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.img-services {
    margin-top: 134px;
    width: 60px;
    height: 60px;
}
.h2-services {
    font-size: 22px;
    margin-top: 16px;
    color: #222222;
}
.hover-services {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15263E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.h3-hover {
    color: #FFFFFF;
    padding-top: 130px;
    font-size: 22px;
}
.p-hover {
    color: #ECECEC;
    font-size: 14px;
    padding-left: 32px;
    padding-right: 31px;
    padding-bottom: 111px;
    padding-top: 19px;
    letter-spacing: 0.42px;
    text-align: center;
}
.div-services:hover .hover-services {
    opacity: 1;
}

.div-headline{
    text-align: center;
    margin-bottom: 81px;
}
.p-NE{
    font-size: 14px;
    color: #2ED279;
    padding-left: 65px;
    transform: translatey(10px);
}
.h3-team{
    font-size: 70px;
    color: #262526;
}

/*
.Rosa-Team-container{
    max-width: 940px;
    width: 100%;
    padding-left: 30px;
    margin: 0 auto;

}
.clients{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.div-rosa {
    position: relative;
    width: 230px;
    height: 190px;
    overflow: hidden;
    cursor: pointer;
}
 
.img-design {
    width: 110px;
    height: 110px;
    transition: opacity 0.3s ease-in-out;
    margin: 40px 60px;
}

.hover-client {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #E93656;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.h4-client{
    color: #161616;
    font-size: 16px;
    letter-spacing: 0.32px;
    padding-top: 44px;
}
.p-client{
    color: #626262;
    font-size: 13px;
    letter-spacing: 0.39px;
    padding-top: 15px;
    padding-right: 33px;
    padding-bottom: 44px;
    padding-left: 32px;
    text-align: center;
}

.div-rosa:hover .img-design {
    opacity: 0;
}

.div-rosa:hover .hover-client {
    opacity: 1;
}*/